<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>

<body>
    <h1>Add A Product</h1>
    <form action="/products" method="post">
        <label for="name">Product Name</label>
        <input type="text" id="name" name="name" placeholder="product name">
        <br>
        <label for="price">Unit Price</label>
        <input type="numer" name="price" id="price" placeholder="price">
        <br>
        <label for="category">Select Category</label>
        <select name="category" id="category">
            <% for(let cat of categories) { %> 
                <option value="<%=cat%>"><%=cat%> </option>
            <% } %> 
            <!-- <option value="fruit">fruit</option>
            <option value="vegetable">vegetable</option>
            <option value="dairy">dairy</option>> -->
        </select>
        <br>
        <button>Add Product</button>
    </form>
    <button><a href="/products">Back</a></button>
</body>

</html>