<%- include("partials/head") %>

<body>
    <%- include("partials/navbar") %>
    <h1>Home Page
        <%= 4+5+1 %>
    </h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro blanditiis distinctio eius accusantium magni minus obcaecati molestias quam dolore? Accusantium reiciendis numquam quis odit, ut molestiae nihil fuga asperiores suscipit.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam magni veritatis similique deleniti vitae esse molestiae enim aperiam ex, facere ab ea possimus iure rem! Enim corporis recusandae nulla rem.</p>

</body>

</html>